@import "./variables";

html, body {
  height: 100%;
  font-family: "Inter", sans-serif !important;
  color: $font-color;
  min-width: 320px;

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      flex-direction: column;
      background: $header-background-color;

      .header-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        height: 111px;

        .header-title__mobile-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          .header-title__logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: bold;

            img {
              padding: 8px;
              margin-right: 24px;
            }
          }

          .header-title__burger-menu {
            display: none;
          }
        }

        .header-title__info-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          .header-title__email, .header-title__phone, .header-title__address {
            margin-right: 56px;

            img {
              margin-right: 8px;
            }
          }

          .header-title__address {
            position: relative;
            cursor: pointer;
            margin-left: 32px;

            .arrow-down {
              margin-left: 8px;
            }

            .dropdown {
              position: absolute;
              top: 30px;
              left: 0;
              display: none;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              background: white;
              border-radius: 10px;
              padding: 24px;
              font-size: 16px;
              margin: 0;
              min-width: 225px;
              z-index: 3;

              span {
                margin-bottom: 8px;

                &:last-child {
                  margin: 0;
                }

                &:hover {
                  color: $dropdown-hover-font-color;
                  text-shadow: 0 0 .9px $dropdown-hover-font-color, 0 0 .9px $dropdown-hover-font-color, 0 0 .9px $dropdown-hover-font-color;
                  transition-duration: .4s;
                }
              }
            }
          }

          .header-title__phone {
            span:last-child {
              margin-left: 8px;
            }
          }

          .header-title__address, .header-title__email, .header-title__phone {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
          }

          .header-title__email, .header-title__phone {
            font-weight: bold;
          }


          .ui-button-header {
            img {
              display: none;
            }
          }
        }

      }

      .menu {
        background: white;
        height: 69px;
        box-shadow: 0 20px 20px -20px rgba(0, 0, 0, .2);

        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          margin-bottom: 0;
          height: 100%;
          font-size: 16px;

          .menu__item {
            padding: 0;
            margin: 0;
            cursor: pointer;
            flex-grow: 1;

            a {
              text-decoration: none;
              white-space: nowrap;
              margin: 0;
              padding: 8px;

              &:hover {
                color: $menu-hover-font-color;
                text-shadow: 0 0 .9px $menu-hover-font-color, 0 0 .9px $menu-hover-font-color, 0 0 .9px $menu-hover-font-color;
                transition-duration: .4s;
              }
            }

          }
        }
      }
    }

    .main {
      flex: 1 1 auto;

      .offer-structure-container {
        display: flex;
        flex-direction: row;
        position: relative;

        .offer-structure {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          min-height: 550px;

          .offer-structure__header {
            font-weight: 700;
            font-size: 50px;
            line-height: 130%;
          }

          .offer-structure__text {
            font-weight: 400;
            font-size: 16px;
            margin: 16px 0;
            max-width: 520px;
          }
        }

        .car {
          position: absolute;
          width: 80%;
          right: 0;
          height: 550px;

          .car__background {
            position: absolute;
            right: 0;
            background: $car-background-color;
            border-radius: 10px 0 0 0;
            max-height: 458px;
            height: 100%;
            max-width: 725px;
            width: 100%;
            margin-top: 92px;
            z-index: 0;
          }

          img {
            position: absolute;
            max-width: 646px;
            width: 90%;
            top: 180px;
            right: 160px;
            z-index: 1;
          }
        }
      }

      .marquee {
        background: #333;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        min-height: 76px;
        padding: 20px 0;
        width: 100%;
        overflow: hidden;

        .marquee__text {
          margin-right: 20px;
        }
      }

      .branches {
        margin-bottom:150px;

        .branches__title {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 50px;
          padding: 70px 0;
        }

        .branches__buttons {
          background: $branches-background-color;
          border-radius: 10px 10px 0 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          button {
            width: 190px;
            height: 49px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            margin: 70px 0 40px;
            color: $branches-button-font-color;
            background: $branches-button-background-color;

            &:first-child {
              margin-right: 30px;
            }

            &:hover {
              color: $branches-button-font-color-active;
              background: $branches-button-background-color-active;
              transition-duration: .4s;
            }
          }

          .classes_active, .track_active {
            color: $branches-button-font-color-active;
            background: $branches-button-background-color-active;
          }
        }
        .swiper {
          width: 100%;
          height: 100%;
          background: $branches-background-color;
          border-radius: 0 0 10px 10px;
          .swiper-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .swiper-slide {
              width: 300px;
              text-align: center;
              font-size: 20px;
              font-weight: bold;
              background: $branches-background-color;
              height: 88px;
              margin-bottom: 70px;

              /* Center slide text vertically */
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              flex-direction: column;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              -webkit-align-items: center;
              align-items: center;

              .swiper-slide img {
                margin-bottom: 20px;
              }
            }
            .swiper-slide-track {
              display: none;
            }
          }

        }
      }
    }

    .footer {

    }
  }
}

.ui-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 49px;
  background: $ui-button-color;
  color: $ui-button-font-color;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: bold;

  &:hover {
    background: $ui-button-hover-color;
    transition-duration: .4s;
  }
}
.container-xxl{
  padding: 0 15px;
}






